# Oude tabellen ophalen

In [1]:
import sqlite3
import pandas as pd
import pyodbc

current_db_go_crm_train = sqlite3.connect("go_crm_train.sqlite")
current_db_go_sales_train = sqlite3.connect("go_sales_train.sqlite")
current_db_go_staff_train = sqlite3.connect("go_staff_train.sqlite")

crm_train_data = {}
crm_train_data['age_group'] = pd.read_sql_query("SELECT * FROM age_group", current_db_go_crm_train)
crm_train_data['country'] = pd.read_sql_query("SELECT * FROM country", current_db_go_crm_train)
crm_train_data['retailer'] = pd.read_sql_query("SELECT * FROM retailer", current_db_go_crm_train)
crm_train_data['retailer_contact'] = pd.read_sql_query("SELECT * FROM retailer_contact", current_db_go_crm_train)
crm_train_data['retailer_headquarters'] = pd.read_sql_query("SELECT * FROM retailer_headquarters", current_db_go_crm_train)
crm_train_data['retailer_segment'] = pd.read_sql_query("SELECT * FROM retailer_segment", current_db_go_crm_train)
crm_train_data['retailer_site'] = pd.read_sql_query("SELECT * FROM retailer_site", current_db_go_crm_train)
crm_train_data['retailer_type'] = pd.read_sql_query("SELECT * FROM retailer_type", current_db_go_crm_train)
crm_train_data['sales_demographic'] = pd.read_sql_query("SELECT * FROM sales_demographic", current_db_go_crm_train)
crm_train_data['sales_territory'] = pd.read_sql_query("SELECT * FROM sales_territory", current_db_go_crm_train)

sales_train_data = {}

sales_train_data['retailer_site'] = pd.read_sql_query("SELECT * FROM retailer_site", current_db_go_sales_train)
sales_train_data['country'] = pd.read_sql_query("SELECT * FROM country", current_db_go_sales_train)
sales_train_data['sales_branch'] = pd.read_sql_query("SELECT * FROM sales_branch", current_db_go_sales_train)
sales_train_data['sales_staff'] = pd.read_sql_query("SELECT * FROM sales_staff", current_db_go_sales_train)
sales_train_data['product_line'] = pd.read_sql_query("SELECT * FROM product_line", current_db_go_sales_train)
sales_train_data['product_type'] = pd.read_sql_query("SELECT * FROM product_type", current_db_go_sales_train)
sales_train_data['order_method'] = pd.read_sql_query("SELECT * FROM order_method", current_db_go_sales_train)
sales_train_data['order_header'] = pd.read_sql_query("SELECT * FROM order_header", current_db_go_sales_train)
sales_train_data['product'] = pd.read_sql_query("SELECT * FROM product", current_db_go_sales_train)
sales_train_data['order_details'] = pd.read_sql_query("SELECT * FROM order_details", current_db_go_sales_train)
sales_train_data['return_reason'] = pd.read_sql_query("SELECT * FROM return_reason", current_db_go_sales_train)
sales_train_data['returned_item'] = pd.read_sql_query("SELECT * FROM returned_item", current_db_go_sales_train)


go_staff_train_data = {}
go_staff_train_data['course'] = pd.read_sql_query("SELECT * FROM course", current_db_go_staff_train)
go_staff_train_data['sales_branch'] = pd.read_sql_query("SELECT * FROM sales_branch", current_db_go_staff_train)
go_staff_train_data['sales_staff'] = pd.read_sql_query("SELECT * FROM sales_staff", current_db_go_staff_train)
go_staff_train_data['satisfaction'] = pd.read_sql_query("SELECT * FROM satisfaction", current_db_go_staff_train)
go_staff_train_data['satisfaction_type'] = pd.read_sql_query("SELECT * FROM satisfaction_type", current_db_go_staff_train)
go_staff_train_data['training'] = pd.read_sql_query("SELECT * FROM training", current_db_go_staff_train)

# Close the database connections
current_db_go_crm_train.close()
current_db_go_sales_train.close()
current_db_go_staff_train.close()

# Verbinding maken met elke database

In [2]:
import pyodbc

go_crm_train = {'servername': r'COEN_LAPTOP\SQLEXPRESS', 'database': 'go_crm_train'}
go_sales_train = {'servername': r'COEN_LAPTOP\SQLEXPRESS', 'database': 'go_sales_train'}
go_staff_train = {'servername': r'COEN_LAPTOP\SQLEXPRESS', 'database': 'go_staff_train'}

go_crm_train_connection = pyodbc.connect('DRIVER={SQL Server}; SERVER=' + go_crm_train['servername'] + '; DATABASE=' + go_crm_train['database'] + '; Trusted_Connection=yes')
go_sales_train_connection = pyodbc.connect('DRIVER={SQL Server}; SERVER=' + go_sales_train['servername'] + '; DATABASE=' + go_sales_train['database'] + '; Trusted_Connection=yes')
go_staff_train_connection = pyodbc.connect('DRIVER={SQL Server}; SERVER=' + go_staff_train['servername'] + '; DATABASE=' + go_staff_train['database'] + '; Trusted_Connection=yes')

go_sales_train_cursor = go_sales_train_connection.cursor()
go_crm_train_cursor = go_crm_train_connection.cursor()
go_staff_train_cursor = go_staff_train_connection.cursor()

# Data verwijderen

In [ ]:
for tableIndex, table in enumerate(crm_train_data):
    try:
        query = f"DELETE FROM {table}"
        go_crm_train_cursor.execute(query)
    except pyodbc.Error as e:
        print(e)
#

# Data van CRM in de nieuwe database zetten

In [3]:
# for tableIndex, table in enumerate(crm_train_data):
#     columns = crm_train_data[table].columns.tolist()  # Extract column names
#     for index, row in crm_train_data[table].iterrows():
#         values = []
#         for column in columns:
#             value = row[column]
#             if isinstance(value, str) and value.lower() == 'nan':
#                 values.append('NULL')
#             else:
#
#                 values.append(f"'{value}'" if isinstance(value, str) else str(value))
#
#         valueString = ", ".join(values)
#         columnNames = ", ".join(columns)  # Column names for the INSERT query
#
#         try:
#             query = f"INSERT INTO {table} ({columnNames}) VALUES ({valueString})"
#             go_crm_train_cursor.execute(query)
#         except pyodbc.Error as e:
#             print(f"Error inserting into {table} with query: {query}")
#             print(f"Error details: {e}")
#
# go_crm_train_connection.commit()
# go_crm_train_cursor.close()

table = str(input("Kies de tabel die je wilt uploaden"))
columns = sales_train_data[table].columns.tolist()  # Extract column names
for index, row in sales_train_data[table].iterrows():
    values = []
    for column in columns:
        value = row[column]
        if pd.isna(value) or (isinstance(value, str) and value.lower() in ['nan', 'none']):
            values.append('NULL')  # Replace NaN/None or "nan"/"none" with NULL
        else:
            values.append(f"'{value}'" if isinstance(value, str) else str(value))

    valueString = ", ".join(values)
    columnNames = ", ".join(columns)  # Column names for the INSERT query

    try:
        query = f"INSERT INTO {table} ({columnNames}) VALUES ({valueString})"
        go_sales_train_cursor.execute(query)
    except pyodbc.Error as e:
        print(query)
        print(e)

go_sales_train_cursor.commit()
go_sales_train_connection.close()

INSERT INTO country (COUNTRY_CODE, COUNTRY, LANGUAGE, CURRENCY_NAME) VALUES (1, 'France', 'EN', 'francs')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__country__FC7F59079346F067'. Cannot insert duplicate key in object 'dbo.country'. The duplicate key value is (1). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
INSERT INTO country (COUNTRY_CODE, COUNTRY, LANGUAGE, CURRENCY_NAME) VALUES (2, 'Germany', 'EN', 'marks')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__country__FC7F59079346F067'. Cannot insert duplicate key in object 'dbo.country'. The duplicate key value is (2). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
INSERT INTO country (COUNTRY_CODE, COUNTRY, LANGUAGE, CURRENCY_NAME) VALUES (3, 'United States', 'EN', 'dollars')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__country__FC7F59079346F067'. Cannot insert duplicate key in object 'dbo.country'. The duplicate key value is (3). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
INSERT INTO country (COUNTRY_CODE, COUNTRY, LANGUAGE, CURRENCY_NAME) VALUES (4, 'Canada', 'EN', 'dollars')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__country__FC7F59079346F067'. Cannot insert duplicate key in object 'dbo.country'. The duplicate key value is (4). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
INSERT INTO country (COUNTRY_CODE, COUNTRY, LANGUAGE, CURRENCY_NAME) VALUES (5, 'Austria', 'EN', 'schillings')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__country__FC7F59079346F067'. Cannot insert duplicate key in object 'dbo.country'. The duplicate key value is (5). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
INSERT INTO country (COUNTRY_CODE, COUNTRY, LANGUAGE, CURRENCY_NAME) VALUES (6, 'Italy', 'EN', 'lira')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__country__FC7F59079346F067'. Cannot insert duplicate key in object 'dbo.country'. The duplicate key value is (6). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
INSERT INTO country (COUNTRY_CODE, COUNTRY, LANGUAGE, CURRENCY_NAME) VALUES (7, 'Netherlands', 'EN', 'guilders')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__country__FC7F59079346F067'. Cannot insert duplicate key in object 'dbo.country'. The duplicate key value is (7). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
INSERT INTO country (COUNTRY_CODE, COUNTRY, LANGUAGE, CURRENCY_NAME) VALUES (8, 'Switzerland', 'EN', 'francs')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__country__FC7F59079346F067'. Cannot insert duplicate key in object 'dbo.country'. The duplicate key value is (8). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
INSERT INTO country (COUNTRY_CODE, COUNTRY, LANGUAGE, CURRENCY_NAME) VALUES (9, 'United Kingdom', 'EN', 'pounds')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__country__FC7F59079346F067'. Cannot insert duplicate key in object 'dbo.country'. The duplicate key value is (9). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
INSERT INTO country (COUNTRY_CODE, COUNTRY, LANGUAGE, CURRENCY_NAME) VALUES (10, 'Sweden', 'EN', 'krona')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__country__FC7F59079346F067'. Cannot insert duplicate key in object 'dbo.country'. The duplicate key value is (10). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
INSERT INTO country (COUNTRY_CODE, COUNTRY, LANGUAGE, CURRENCY_NAME) VALUES (11, 'Japan', 'EN', 'yen')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__country__FC7F59079346F067'. Cannot insert duplicate key in object 'dbo.country'. The duplicate key value is (11). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
INSERT INTO country (COUNTRY_CODE, COUNTRY, LANGUAGE, CURRENCY_NAME) VALUES (12, 'Taiwan', 'EN', 'new dollar')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__country__FC7F59079346F067'. Cannot insert duplicate key in object 'dbo.country'. The duplicate key value is (12). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
INSERT INTO country (COUNTRY_CODE, COUNTRY, LANGUAGE, CURRENCY_NAME) VALUES (13, 'Korea', 'EN', 'won')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__country__FC7F59079346F067'. Cannot insert duplicate key in object 'dbo.country'. The duplicate key value is (13). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
INSERT INTO country (COUNTRY_CODE, COUNTRY, LANGUAGE, CURRENCY_NAME) VALUES (14, 'China', 'EN', 'renminbi')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__country__FC7F59079346F067'. Cannot insert duplicate key in object 'dbo.country'. The duplicate key value is (14). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
INSERT INTO country (COUNTRY_CODE, COUNTRY, LANGUAGE, CURRENCY_NAME) VALUES (16, 'Australia', 'EN', 'dollars')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__country__FC7F59079346F067'. Cannot insert duplicate key in object 'dbo.country'. The duplicate key value is (16). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
INSERT INTO country (COUNTRY_CODE, COUNTRY, LANGUAGE, CURRENCY_NAME) VALUES (17, 'Belgium', 'EN', 'francs')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__country__FC7F59079346F067'. Cannot insert duplicate key in object 'dbo.country'. The duplicate key value is (17). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
INSERT INTO country (COUNTRY_CODE, COUNTRY, LANGUAGE, CURRENCY_NAME) VALUES (18, 'Denmark', 'EN', 'kroner')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__country__FC7F59079346F067'. Cannot insert duplicate key in object 'dbo.country'. The duplicate key value is (18). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
INSERT INTO country (COUNTRY_CODE, COUNTRY, LANGUAGE, CURRENCY_NAME) VALUES (19, 'Spain', 'EN', 'pesetas')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__country__FC7F59079346F067'. Cannot insert duplicate key in object 'dbo.country'. The duplicate key value is (19). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
INSERT INTO country (COUNTRY_CODE, COUNTRY, LANGUAGE, CURRENCY_NAME) VALUES (20, 'Mexico', 'EN', 'pesos')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__country__FC7F59079346F067'. Cannot insert duplicate key in object 'dbo.country'. The duplicate key value is (20). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
INSERT INTO country (COUNTRY_CODE, COUNTRY, LANGUAGE, CURRENCY_NAME) VALUES (21, 'Brazil', 'EN', 'reals')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__country__FC7F59079346F067'. Cannot insert duplicate key in object 'dbo.country'. The duplicate key value is (21). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
INSERT INTO country (COUNTRY_CODE, COUNTRY, LANGUAGE, CURRENCY_NAME) VALUES (22, 'Finland', 'EN', 'markka')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__country__FC7F59079346F067'. Cannot insert duplicate key in object 'dbo.country'. The duplicate key value is (22). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")